.list {
  flex: 1;
  flex-direction: column;
  display: flex;
  margin: 0 10px;
}

h1 {
  text-align: center;
}

.item {
  display: flex;
  align-items: center;
  height: 400px;
  box-shadow: 1px 1px 10px #0303;
  margin-bottom: 10px;
}

img {
  height: 400px;
  width: 300px;
}

.item .infos {
  overflow-y: scroll;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 20px;
}

.item .infos p {
  flex: 5;
}

.item .infos span {
  align-self: flex-end;
  width: 100%;
  text-align: end;
}

.item .infos h2 {
  margin: 0;
}